@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&family=Poppins:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", "sans serif";
}

nav {
  width: 100%;
  height: 10vh;
  padding: 1em 2em;
  box-shadow: 0px 0px 10px rgb(160, 160, 160);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
nav img {
  width: 100px;
  cursor: pointer;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
.hero-section .hero-img {
  display: flex;
  height: 250px;
}
.hero-section .hero-img div {
  display: flex;
  flex-direction: column;
  margin: 0 0.2em;
}
.hero-section .hero-img div:nth-child(odd) {
  align-self: flex-end;
}
.hero-section .hero-img div:nth-child(even) {
  align-self: flex-start;
}
.hero-section .hero-img div:nth-child(1) {
  align-self: center;
}
.hero-section .hero-img img {
  margin: 0.1em 0;
  border-radius: 0.5em;
  width: 80px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-section .hero-description {
  padding: 1em 2em;
}
.hero-section .hero-description h2 {
  font-size: 2.3em;
  margin: 0;
}
.hero-section .hero-description p {
  color: #222222;
  padding: 0em 6em 0em 0em;
}

.cards-div-container {
  padding: 2em 1em;
  width: 100%;
  display: flex;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 176px;
  height: 350px;
  overflow: hidden;
  position: relative;
  margin: 1em;
  flex: none;
}
.card-container .status {
  position: absolute;
  background-color: white;
  border-radius: 0.3em;
  top: 0.5em;
  left: 0.5em;
  padding: 0 0.5em;
  font-size: 0.8em;
}
.card-container img {
  border-radius: 0.5em;
  height: 235px;
  width: 176px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-container .rating {
  display: flex;
  flex-direction: row;
  font-size: 1em;
  justify-content: flex-start;
  align-items: center;
}
.card-container .rating * {
  margin: 0 0 0 0.2em;
}
.card-container .rating svg + p ~ p {
  color: gray;
}
.card-container .rating ~ p {
  margin: 0;
}/*# sourceMappingURL=style.css.map */